# Dependencies
node_modules/
dist/
build/

# Secrets and Environment
.env
*.key
*.pem
config/serviceAccountKey.json

# Dataset and Large Files
dataset/
*.zip
*.tar.gz
*.rar

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
